.DS_Store
.vscode
cv-data/
/**/*-chkpt*.ipynb
/**/*.auto.tfvars
/**/*.code-workspace
/**/*.iml
/**/*.tfstate
/**/*.tfstate.*.backup
/**/*.tfstate.backup
/**/.classpath
/**/.idea/
/**/.firebase/
/**/.firebaserc
/**/.project
/**/.settings
/**/.terraform.tfstate.lock.info
/**/.terraform/
/**/buildInfo.json
/**/google-services.json
/**/GoogleService-Info.plist
/**/Epistore-Info.plist
/**/local
/**/local/
/**/node_modules/
/**/__pycache__/
/**/.mypy_cache/
/**/.venv/
/**/extracted-images/
/**/*.record
/**/initial-model/*
/**/.ipynb_checkpoints/
/.bundle/**
/scripts/*-letsencrypt.tar.bz2
/vendor/bundle/**
/common/training/train_*
/**/.env
.envrc
/**/automation.properties
